*{
    margin: 0;
}
body{
    background-color: rgb(37, 34, 230);
      font-family: "Salsa", cursive;
  
  font-style: normal;
}
#choose{
    width: 40%;
    margin:auto;
    height: 50vh; 
    padding-top: 10vh;
    margin-top: 20vh;
}
#pilih{
    margin-left: 20%;
    width: 60%;
    height: 5vh;
    text-align: center;
    
}
#lanjut{
    height: 5vh;
    width: 20%;
    margin-left: 40%;
    
}
.info{
    color: white;
    text-align: center;
}

@media only screen and (max-width:1356px) {
    #choose{
    width: 50%;
    margin:auto;
    height: 50vh; 
    padding-top: 10vh;
    margin-top: 20vh;
    }
}
@media only screen and (max-width:1076px) {
    #choose{
    width: 70%;
    margin:auto;
    height: 50vh; 
    padding-top: 10vh;
    margin-top: 20vh;
    }
}
@media only screen and (max-width:768px) {
    #choose{
    width: 90%;
    margin:auto;
    height: 50vh; 
    padding-top: 10vh;
    margin-top: 20vh;
    }
    #pilih{
        width: 90%;
        margin-left: 5%;
    }
}